@charset "utf-8";
/*------------------------------------------全体に対する指定----------------------------------*/
html {
    height: 100%;
    font-size: 100%;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
}
body {
    position: relative;
    height: 100%;
    color: #191919;
    font-family: "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "メイリオ", "Meiryo", sans-serif;
    line-height: 1.5;
    font-weight: 500;/*初期値が400なので少し太め*/
    word-wrap: break-word;/*IEが独自採用したもので必要に応じて途中改行を行う*/
    line-height: 1.5;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", "HG明朝E", "ＭＳ 明朝", serif;;
}

svg {
    max-width: 100%;
    vertical-align: middle;
}

.container {
    width: 100%;
    overflow: hidden;
}
/*------------------------------------------ヘッダーに対する指定----------------------------------*/
#header {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    background-color: #fff;
    width: 100%;
    height: 120px;/*回答ではvar(--header-height)としている*/
    border-bottom: 1px solid #D9D9D9;
    z-index: 2;
}


.header-wrapper {
    display: flex;
    height: 100%;
}

.header-wrapper-title {
    position: absolute;
    opacity: 1;
    left: 64px;
    top: 34px;
}

.header-wrapper-title img {
    width: 85px;
}

.header-wrapper-nav {
    opacity: 1;
    position: absolute;
    right: 260px;
    display: flex;
    align-items: center;
    height: 100%;
}



.header-wrapper-nav-list {
    display: flex;
    gap: 32px;
}

.header-wrapper-nav-list li {
    position: relative;
}

.header-wrapper-menu-button {
    display: inline-flex;
    align-items: center;
    color: #191919;
    font-size: 15px;
    line-height: 22px;
    cursor: pointer;
}

.header-wrapper-menu-button i {
    font-size: 0;/*これは何？*/
    margin-left: 8px;
}

.header-wrapper-nav-list svg {
    width: 10px;
    height: auto;
    stroke: #191919;

}

.header-wrapper-nav-list-link {
    color: #191919;
}

.header-nav__listLv2 {
    margin-top: 24px;
    position: absolute;
    left: 0;
    pointer-events: none;
    display: none;
}

.header-nav__listLv2 li {
    width: 220px;
    border-bottom: 1px solid #F0F4F8;
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);/*表示領域を制限することができる*/
    transition: clip-path 0.3s cubic-bezier(0.23, 1, 0.32, 1)
}

.header-wrapper-contact {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}

.header-wrapper-contact a {
    display: flex;
    width: 224px;
    height: 120px;
    background: #C80D2F;
    color: #fff;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 500;
}
/*------------------------------------------トップに対する指定----------------------------------*/
.top {

}

.top-contents {
}

.top-contents-wrap {
    margin-top: 120px;
    height: 965px;
    position: relative;
    overflow: hidden;
}

.top-contents-wrap::before {
    content: "";
    background: #F0F4F8;
    display: block;
    position: absolute;
    top: 309px;
    left: 64px;
    height: 460px;
    width: 1376px;
    z-index: -1;
}
.top-contents-wrap-character {
    position: absolute;
    top: 140px;
    left: 128px;

    
}

.character {
    font-size: 115px;
    line-height: 103px;
    display: flex;
    flex-direction: column;
    letter-spacing: -8px;
    align-items: flex-start;
    font-family: minion-Pro, serif;
}

.character span {
    padding: 4.6px 0;
}

.text {
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", "HG明朝E", "ＭＳ 明朝", serif;
    font-size: 18px;
    line-height: 28.8px;
    letter-spacing: 0.18px;
    padding: 29px 0;
    font-weight: 500;

}

.top-contents-wrap-image {
    width: 100%;
    position: absolute;
    top: 0;
    left: 49%;
    overflow: hidden;
}

.top-contents-wrap-image{
    width: 736px;
    overflow: hidden;
    z-index: 1;
    position: absolute;
}

.top-images{
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.top-images-container{
    transform: translate3d(0px, 0, 0);
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.top-images-wrapper{
    width: 736px;
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
    flex-shrink: 0;
    height: 100%;
    position: relative;
}

.top-images-pic{
    display: block;
}


.purpose {
    width: 100%;
    height: 300px;
}

.p-container{
    width: 100%;
    height: 144px;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    padding: 0 64px;
}

.p-c-lead{
    display: flex;
    line-height: 1;
    position: absolute;
    top: -72px;
}

.p-c-lead::before {
    content: "";
    background: #F0F4F8;
    position: absolute;
    top: 0;
    left: 290px;
    width: 560px;
    height: 263px;
    z-index: -1;
}


.p-c-l__head{
    width: 235px;
    padding-left: 95px;
}

.p-c-l__head h2 {
    font-size: 20px;
    font-family: serif;
    font-weight: 400;
}

.p-c-l__body{
    color: #fff;
    font-size: 50px;
    width: 1078px;
}

.row1{
     width: 624.5px;
     background-color: #C70D2E;
     padding: 14px 10px 8px;
     position: relative;
     z-index: 2;
}

.row2{
    width: 727px;
    margin-left: 180px;
    background-color: #C70D2E;
    padding: 14px 10px 8px;
}

/*------------------------------------------mediaに対する指定----------------------------------*/

.media {
    padding-top: 50px;
    overflow: hidden;/*--なんでここに入れた？--*/
}

.media-container{
    padding: 0 128px;
}

.media-top-blog__wrap {
    display: grid;
    grid-template-areas: "head ctrl more" "slide slide slide";
    grid-template-columns: 1fr auto auto;
}

.media-top-blog__head{
    grid-area: head;
}

.media-top-blog__head h2 {
    font-size: 64px;
    line-height: 64px;
    font-family: minion-pro, serif;
}

.media-ctrl{
    margin: 20px 42px 0 0;
    padding-left: 32px;
    display: flex;
    grid-area: ctrl;
    align-self: center;/*なにこれ*/
    justify-content: flex-end;
    position: relative;
}

.media-ctrl-button-left {
    width: 33px;
    height: 33px;
    border: 1px solid #C80D2F;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.media-ctrl-icon {
    width: 8px;
    height: auto;
    position: relative;
    fill: #C80D2F;
}

.media-ctrl-button-right {
    margin-left: 20px;
    width: 33px;
    height: 33px;
    border: 1px solid #C80D2F;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.media-ctrl::after {
    content: "";
    width: 1px;
    height: 38px;
    background: #D9D9D9;
    position: absolute;
    top: -1.5px;
    right: -32px;
    display: block;
}

.media-slide{
    grid-area: slide;
    position: relative;
    width: 320px;
    margin-top: 38px;
    z-index: 0;
}

.swiper {
    z-index: 1;
    overflow: initial;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transform: translate3d(0px, 0px, 0px);
    transition-duration: 0ms;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-slide {
    width: 320px;
    height: 332px;
    margin-right: 32px;
    position: relative;
    transition-property: transform;
    flex-shrink: 0;
}

.c-card-blog {
    height: 100%;
}

.p-top-blog__more{
    grid-area: more;
    align-self: center;
    text-align: right;
    margin-top: 20px;
}


.media-title {
    font-size: 64px;
    font-family: serif;
    line-height: 1;
}

.media-blog {
    position: relative;
    grid-area: slide;
    width: 320px;
    margin-top: 38px;
}

.c-card-blog__link {
    height: 100%;
    padding-bottom: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #D9D9D9;
}

.c-card-blog__pic {
    margin-bottom: 0;
}

.c-card-blog__pic img {
    width: 320px;
}

.c-card-blog__meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}

.c-card-blog__cate {
    display: flex;
}

.c-card-blog__cate span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #C80D2F;
    color: #C80D2F;
    height: 23px;
    padding: 2px 13px;
    border-radius: 100px;
    font-size: 12px;
}

.c-card-blog__date {
    font-size: 15px;
    line-height: 18px;
    font-family: "Inter", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "メイリオ", "Meiryo", sans-serif;
    letter-spacing: -0.15px;
    color: #A6A6A8;
}

.c-card-blog__title {
    font-family: "Inter", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "メイリオ", "Meiryo", sans-serif;
    font-size: 15px;
    line-height: 21px;
    margin-top: 12px;
    color: #191919;
}

.c-card-blog__tag {
    color: #A6A6A8;
    margin-top: 8px;
    font-size: 12px;
    line-height: 18px;
}

.c-card-blog__link::after {
    content: "";
    display: block;
    height: 1px;
    background-color: #C80D2F;
    position: absolute;
    right: 0;
    left: auto;
    width: 0;
    transition: 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    bottom: -1px;
}

.swiper-slide-next {
    width: 320px;
    margin-right: 32px;
    height: auto;
    flex-shrink: 0;
    position: relative;
    transition-property: transform;
}

.p-top-blog__more {
    margin-top: 20px;
    grid-area: more;
    align-self: center;
    text-align: right;
}

.c-btn-angle {
    padding: 20px 20px 20px 0;
    display: inline-flex;
    align-items: center;
    border-bottom: #C80D2F 1px solid;
    position: relative;
}

.c-btn-angle__ico {
    margin-right: 16px;
}

.c-btn-angle__ico svg {
    width: 12px;
    height: auto;
    fill: #C80D2F;
}

.c-btn-angle__txt {
    color: #C80D2F;
}

/*------------------------------------------storyに対する指定----------------------------------*/

.story {
    margin-top: 112px;
    padding-top: 112px;
    position: relative;
    overflow: hidden;
}

.story-wrap {
    position: relative;
}

.story-wrap::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #F0F4F8;
    z-index: -1;
}

.story-container {
    padding: 0 64px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.story-contents {
    padding: 260px 0 250px;
    position: relative;
}

.story-background-top {
    font-size: 200px;
    color: rgb(255, 255, 255);
    font-family: serif;
    opacity: 0.6;
    position: absolute;
    line-height: 200px;
    position: absolute;
    top: 260px;
    left: 0;
}

.story-title {
    font-size: 42px;
    position: absolute;
    top: 190px;
    left: 518px;
}

.story-description {
    width: 640px;
    margin-left: auto;
    position: relative;
    z-index: 1;
}

.story-description picture {
    margin-bottom: 60px;;
    display: block;
}

.story-description picture img {
    width: 100%;
    display: block;
}

.story-description-text {
    line-height: 43.2px;
    padding-right: 64px;
    font-family: "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "メイリオ", "Meiryo", sans-serif;
    font-size: 18px;
}

.picture-woman {
    width: 257px;
    position: absolute;
    top: 412.4px;
    left: 161px;
}

.picture-woman img {
    width: 100%;
}

.picture-man {
    width: 161px;
    position: absolute;
    top: 616px;
    left: -70px;
}

.picture-man img {
    width: 100%;
}

.story-more {
    width: 257px;
    margin-top: 10px;
    position: absolute;
    top: 809px;
    left: 161px;
    text-align: right;
}

.story-more-link {
    border-bottom: 1px solid #C80D2F;
    width: 100%;
    padding: 20px 20px 20px 0;
    display: inline-flex;
    align-items: center;
    position: relative;
    color: #C80D2F;
    font-family: "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "メイリオ", "Meiryo", sans-serif;
}

.story-more-icon {
    margin-right: 16px;
}

.story-more-icon svg {
    width: 20px;
    fill: #C80D2F;
    vertical-align: middle;
}

.story-background-bottom {
    font-size: 200px;
    color: rgb(255, 255, 255);
    font-family: serif;
    opacity: 0.6;
    position: absolute;
    line-height: 200px;
    bottom: -32px;
    left: 716px;
}

/*------------------------------------------featureに対する指定----------------------------------*/


.feature {
    padding: 115px 0 124px;
    position: relative;
    overflow: hidden;
}

.feature-container {
    padding: 0 64px;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
}

.feature__wrap {
    display: flex;
    padding: 0 64px;
}

.feature__head {
    flex: 1;/*---?---*/
}

.feature__head h2 {
    font-size: 32px;
    font-family: minion-pro, serif;
    line-height: 32px;
}

.feature__ctrl {
    display: flex;
    align-self: center;
    justify-content: flex-end;
    position: relative;
    margin-right: 32px;
    padding-right: 32px;
}

.c-btn-circle {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 33px;
    height: 33px;
    border: 1px solid #C80D2F;
}

.feature__ctrl::after {
    content: "";
    display: block;
    width: 1px;
    height: 38px;
    background: #D9D9D9;
    position: absolute;
    right: 0;
    top: -1.5px;
}

.c-btn-circle-right {
    margin-left: 20px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 33px;
    height: 33px;
    border: 1px solid #C80D2F;
}

.c-btn-circle__ico {
    width: 8px;
    position: relative;
    font-size: 0;
    height: auto;
    fill: #C80D2F;
}

.feature__count {
    align-self: center;
    font-family: "Inter", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "メイリオ", "Meiryo", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #C80D2F;
}

.feature__slide {
    margin-top: 30px;
}

.feature-swiper {
    width: 864px;
    overflow: initial;
    margin-right: auto;
    margin-left: 0;
    position: relative;
    list-style: none;
    z-index: 1;
}

.feature-swiper-wrapper {
    transform: translate3d(0px, 0px, 0px);
    transition-duration: 0ms;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.feature-swiper-slide-active {
    width: 864px;
    margin-right: 32px;
    flex-shrink: 0;
    height: 100%;
    position: relative;
    transition-property: transform;
}

.c-card-feature-case {
    background: #ebe7e1;
}

.c-card-feature-case__link {
    display: flex;
    flex-direction: column;
    padding: 86px 62px 32px;

}

.c-card-feature-case__pic {
    max-width: 544px;
    align-self: center;
    position: relative;
}

.c-card-feature-case__pic img {
    position: relative;
    z-index: 2;
    max-width: 100%;
    vertical-align: middle;
}

.c-card-feature-case__meta {
    position: relative;
    display: flex;
    margin-top: 48px;
    gap: 88.96px;
    font-size: 15px;
    line-height: 22px;
    color: #191919;
}


.c-card-feature-case__meta dt {
    font-size: 12px;
    font-family: "Inter", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "メイリオ", "Meiryo", sans-serif;
}

.feature-swiper-slide-next {
    width: 864px;
    margin-right: 32px;
    flex-shrink: 0;
    height: 100%;
    position: relative;
    transition-property: transform;
}


.feature-swiper-slide-author{
    width: 864px;
    margin-right: 32px;
    flex-shrink: 0;
    height: 100%;
    position: relative;
    transition-property: tranceform;
}

.feature-slide__indicator{
    margin-top: 50px;
    width: 448px;
    height: 3px;
    background: #D9D9D9;
    margin-left: auto;
}




/*------------------------------------------serviceに対する指定----------------------------------*/

.service {
    padding: 112px 0 130px ;
    position: relative;
}


.service::before {
    background: #D9D9D9;
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}
.service-container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 128px;
}

.service-head {

}

.service-head h2 {
    font-size: 64px;
    font-family: serif;
    font-weight: 200;
}

.service-sentence {
    margin-top: 30px;
    font-size: 17px;
    line-height: 30.6px;
    font-family: "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "メイリオ", "Meiryo", sans-serif;
    opacity: 0.8;
}

.service-sentence p {
}

.service-contents {
    margin-top: 60px;
    margin-right: -64px;
}

.service-contents-wrap {
    
}

.service-contents-wrap-body {
    width: 100%;
    margin-top: 37px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
}

.service-contents-wrap-body-item {

}

.service-items-link {
    color: #191919;
}
.service-items-link-figure {

}

.service-items-link-figure img {
    max-width: 395px;
}

.service-items-title {
    margin-top: 16px;
    position: relative;
}

.service-items-title p {
    font-size: 24px;
    font-weight: 200;
    opacity: 0.8;
}

.service-items-title-btn {
    position: absolute;
    top: 6px;
    right: 0;

}

.service-items-title-btn-icon {
    width: 33px;
    height: 33px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #C80D2F;
    border-radius: 100%;
}



/*-----------------------------------achievementsに対する指定------------------------------*/

.achievements{
    padding: 110px 0;
    position: relative;
}

.achievements::before {
    content: "";
    background: #D9D9D9;
    display: block;
    height: 1px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.achievements-container{
    padding: 0 128px;
    width: 100%;
    max-width: 1440px;
}

.achievements-wrap{
    display: flex;
}

.awards{
    width: 500px;
    flex: 1 0 auto;
}

.awards-title{

}

.awards-title h2{
    font-size: 32px;
}

.awards-li{
    font-size: 15px;
    font-family: "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "メイリオ", "Meiryo", sans-serif;
    margin-bottom: 20px;
}

.awards-li li{
    margin-top: 32px;
}

.awards-athor{
    padding: 20px 20px 20px 0;
    border-bottom: 1px solid #C80D2F;
    color: #C70D2E;
    display: inline-flex;
    align-items: center;
}

.awards-athor-btn{
    margin-right: 16px;
}

.awards-athor-btn svg {
    width: 12px;
    height: 9.4px;
    fill: #C80D2F;
}

.awards-athor-text{}

.client{}

.client-title{}

.client-title h2{
    font-size: 32px;
}

.client-text{
    margin-top: 32px;
    font-family: "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "メイリオ", "Meiryo", sans-serif;
}

.client-logos{
    margin: 46px 0 0 7px;

}

.client-logos img{
    width: 639px;
    max-width: 100%;
    vertical-align: middle;
}
/*-----------------------------------------------contactに対する指定--------------------------*/


.contact{
    position: relative;
    z-index: 1;
}


/*-----------------recruieに対する指定----------------*/
.contact-recruit{
    border-top: 1px solid #D9D9D9;
}

.recruit-link{
    height: 417px;
    display: block;
    /* background-color: #fff; */
}

.contact-recruit a:hover {
    color: #fff !important;
}

.action-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 1440px;
    height: 417px;
    object-fit: cover;
    /* opacity: 0; */
    transform: scale(1.1);
    transition: 0.6s;
}

.action-bg:hover {
    opacity: 1;
}

.action-bg img {
    width: 100%;
}

.recruit-container{
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 128px;
}

.recruit-wrap{
    display: flex;
    padding-top: 149px;
}

.recruit-title{
    font-family: minion-pro, serif;
    font-weight: 500;
    width: 384px;
    flex: 0 0 auto;
}

.recruit-title h2{
    font-size: 64px;
    color: #191919;
}

.recruit-body{
    padding-right: 70px;
    color: #191919;
    flex: 0 0 auto;
}

.recruit-body h3 {
    margin-top: 0;
    font-size: 32px;
    line-height: 48px;
}

.recruit-body p {
    display: block;
    margin-top: 20px;
    font-size: 15px;
    line-height: 27px;
}
.recruit-btn{
    position: absolute;
    bottom: calc(50% - 3rem);
    right: 4rem;
}

.recruit-btn-simbol{
    width: 6rem;
    height: 6rem;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #C80D2F;
    border-radius: 100%;
    transition: 0.3s
}

.recruit-btn-simbol::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #C80D2F;
    border-radius: 100%;
    transform: scale(0);
}


.c-btn-circle_ico{
    width: 14px;
    position: relative;
    fill: #C80D2F;
    height: auto;
    font-size: 0;
    transition: 0.3s;
    max-width: 100%;
    vertical-align: middle;
}
/*---------------inquiryに対する指定------------------*/

.contact-inquiry{
    border-top: 1px solid #D9D9D9;
}

.inquiry-link{
    height: 417px;
    display: block;
    background-color: #fff;
}

.inquiry-action-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 1440px;
    height: 417px;
    object-fit: cover;
    /* opacity: 0; */
    transform: scale(1.1);
    transition: 0.6s;
}
.action-bg img{}

.iquiry-container{
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 128px;
}

.inquiry-wrap{
    display: flex;
    padding-top: 149px;
}

.inquiry-title{
    font-family: minion-pro, serif;
    font-weight: 500;
    width: 384px;
    flex: 0 0 auto;
}

.inquiry-title h2{
    font-size: 64px;
    color: #191919;
}

.inquiry-body{
    padding-right: 70px;
    color: #191919;
    width: 794px;
    flex: 0 0 auto;
}

.inquiry-body h3{
    margin-top: 0;
    font-size: 32px;
    line-height: 48px;
}

.inquiry-body p{
    display: block;
    margin-top: 20px;
    font-size: 15px;
    line-height: 27px;
}

.inquiry-btn{}

.inquiry-btn-simbol{}

/*------------------------------------------------------footerに対する指定----------------------------------------------------------------------------------*/
/*---footerの一番上の矢印ゾーン---*/
.footer {
    border-top: 1px solid #D9D9D9;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.footer-pagetop {
    position: relative;
    height: 64px;
    margin-bottom: 1px;/*何で入れている？*/
}

.footer-pagetop a {
    border-top: 1px solid #191919;
    position: absolute;
    top: -1px;
    right: 0;/*これで右寄せになる */
    display: flex;/*flexにした理由は？*/
    justify-content: center;
    align-items: center;
    width: 256px;
    height: 63px;
}

.footer-pagetop svg {
    width: 22px;
    fill: #191919;/*図形やテキストを塗りつぶす*/
}
/*---footerの黒いゾーン---*/
.footer-content {
    background: #333;
    color: #fff;
    padding: 164px 0 193px;
}

.footer-content a {
    color: #fff;
}

.footer-container {
    padding: 0 64px;
    /* margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1440px;   これらは何のために入っている？*/
}

.footer-wrap {
    display: grid;
    grid-template-areas: "company nav" "report bnr";
    grid-template-columns: 450px 1fr;/*gridの１列目の幅を450pxに固定し残りの空間にはもう１列作成できる*/
    gap: 60px 0;
}

.footer-nav {
    grid-area: nav;
    margin-top: 62px;
}

.footer-nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 64px;
}

.footer-nav__list li {
    width: auto;
}

.footer-nav__list span {
    color: #fff;
}

.footer-nav-link {
    color: #fff;
    display: inline-flex;
    align-items: center;
    font-size: 15px;
    line-height: 22px;
}

.footer-nav-link i {
    margin-left: 12px;
    font-size: 0;
}

.footer-nav-link i svg {
    width: 10px;
    height: auto;
    stroke: #fff;
}

.footer-nav__listLv2 li {
    margin-top: 10px;
}

.footer-nav__listLv2 a {
    font-size: 12px;
    line-height: 13.5px;
}

.footer-company {
    grid-area: company;
}

._name {
    font-weight: 600;
    font-size: 24px;
    line-height: 38.4px;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", "HG明朝E", "ＭＳ 明朝", serif;
}

._en {
    margin-top: 26px;
    font-size: 15px;
    line-height: 24px;
    font-weight: 600;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", "HG明朝E", "ＭＳ 明朝", serif;
}

._info {
    margin-top: 31px;
    font-size: 15px;
    line-height: 27px;
}

.footer-report {
    grid-area: report;
    border-bottom: 1px solid #D9D9D9
}

.footer-report a {
    display: flex;
    align-items: center;
    position: relative;
    color: #fff;
    padding-bottom: 35px;
}

.footer-report a i {
    width: 14px;
    height: 11px;
    fill: #fff;
    font-size: 0;/*これは何で入っている？*/
    margin-right: 8px;
}

.footer-bnr {
    grid-area: bnr;
    display: flex;
    width: 446px;
    gap: 26px;
    margin-left: auto;
}

.footer-bnr img {
    width: 210px;
    height: 67px;
}
/*---footerの一番下の部分---*/

.footer-bottom__wrap {
    padding: 44px 0;
    display: flex;
    align-items: center;
}

.footer-logo {
    width: 86px;
}

.footer-link {
    margin-left: auto;
}

.footer-link ul {
    display: flex;
    gap: 50px;
}

.footer-link a {
    font-size: 12px;
    color: #191919;
}

/*------------------------------------------------------サイドバーに対する指定----------------------------------------------------------------------------------*/
.aside-container {

}

.aside-c-border {
    height: 100%;
    width: 1px;
    position: fixed;
    left: 64px;
    top: 0;
    background: #D9D9D9;
}

.aside-c-text {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 100%;
}

.aside-c-text p {
    transform: rotate(90deg);
    display: inline-flex;
    font-family: serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1;
    white-space: nowrap;
}

@media (max-width: 1023px) {
    
    #header {
        height: 72px;
        border-bottom: none;
    }

    .header-wrapper-title {
        left: 9px;
        top: 19px;
    }

    .header-wrapper-title img {
        width: 67px;
        height: 39px;
    }

    .header-wrapper-contact, .header-wrapper-nav {
        display: none;
    }

    aside {
        display: none;
    }

    .top-contents {
        height: 480px;
    }

    .top-contents-wrap {
        margin-top: 0;
    }

    .top-contents-wrap-character {
        top: 220px;
        left: 9px;
        z-index: 2;
    }

    .character {
        font-size: 44px;
        letter-spacing: -1px;
        line-height: 48px;
    }

    .text {
        display: none;
    }

    .top-contents-wrap-image {
        top: 144px;
        left: 116px;
    }

    .top-images-wrapper {
        width: 259px;
        height: 386px;
    }

    .top-images-pic {
        height: 100%;
    }

    .top-images-pic img {
        height: 100%;
    }

    .purpose {
        padding: 105px 0 77px;
    }

    .p-container {
        padding: 0 19px;
    }

    .p-c-lead {
        display: block;
        position: relative;
        top: auto;
    }

    .p-c-l__head {
        line-height: 23px;
        font-size: 19px;
        padding: 0;
        width: auto;
    }

    .p-c-l__body {
        font-size: 20px;
        font-weight: 200;
        margin-top: 38px;
        position: absolute;
    }



    .row1 {
        width: 245px;
        padding: 0;
        margin-left: -10px;
        padding: 0;
        padding-top: 5.5px;
    }

    .row2 {
        margin-left: 60px;
        padding: 0;
        padding-top: 5.5px;
        width: 280px;
    }

    .p-c-lead::before {
        left: 0;
        top: 40px;
        margin-left: -20px;
        height: 96px;
    }

    .top-contents-wrap::before {
        top: 72px;
        left: 0;
        width: 100%;
        height: 408px;
    }

    .media-top-blog__head h2 {
        font-size: 30px;
    }
}