@charset "utf-8";
/*------------------------------------------全体に対する指定----------------------------------*/
html {
    height: 100%;
    font-size: 100%;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
}
body {
    position: relative;
    height: 100%;
    color: #191919;
    font-family: "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "メイリオ", "Meiryo", sans-serif;
    line-height: 1.5;
    font-weight: 500;/*初期値が400なので少し太め*/
    word-wrap: break-word;/*IEが独自採用したもので必要に応じて途中改行を行う*/
    line-height: 1.5;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", "HG明朝E", "ＭＳ 明朝", serif;;
}

.container {
    width: 100%;
}
/*------------------------------------------ヘッダーに対する指定----------------------------------*/
#header {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    background-color: #fff;
    width: 100%;
    height: 120px;/*回答ではvar(--header-height)としている*/
    border-bottom: 1px solid #D9D9D9;
    z-index: 1;
}


.header-wrapper {
    display: flex;
    height: 100%;
}

.header-wrapper-title {
    position: absolute;
    opacity: 1;
    left: 4rem;
    top: 2.125rem;
}

.header-wrapper-title img {
    width: 85px;
}

.header-wrapper-nav {
    opacity: 1;
    position: absolute;
    right: 347px;
    display: flex;
    align-items: center;
    height: 100%;
}

.header-wrapper-nav {

}

.header-wrapper-nav-list {
    display: flex;
    gap: 2rem;
}

.header-wrapper-nav-list li {
    position: relative;
}

.header-wrapper-menu-button {
    display: inline-flex;
    align-items: center;
    color: #191919;
    font-size: 15px;
    line-height: 22px;
    cursor: pointer;
}

.header-wrapper-nav-list svg {
    width: 10px;
    height: auto;
    stroke: #191919;

}

.header-wrapper-nav-list-link {
    color: #191919;
}

.header-wrapper-contact {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 11.64%;
}

.header-wrapper-contact a {
    width: 224px;
    height: 168px;
    background: #C80D2F;
    color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 500;
}
/*------------------------------------------トップに対する指定----------------------------------*/
.top {

}

.top-contents {
}

.top-contents-wrap {
    margin-top: 120px;
    height: 965px;
    position: relative;
    overflow: hidden;
}

.top-contents-wrap-character {
    position: absolute;
    top: 186.5px;
    left: 128px;

    
}

.character {
    font-size: 140px;
    line-height: 103px;
    display: flex;
    flex-direction: column;
    letter-spacing: -2.3px;
    align-items: flex-start;
    font-family: minion-Pro, serif;
}

.character span {
    padding: 4.6px 0;
}

.text {
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", "HG明朝E", "ＭＳ 明朝", serif;
    font-size: 18px;
    line-height: 28.8px;
    letter-spacing: 0.18px;
    padding: 29px 0;
    font-weight: 500;

}

.top-contents-wrap-image {
    width: 100%;
    position: absolute;
    top: 0;
    left: 49%;
    overflow: hidden;
}

.swiper {

}

.swiper-wrapper {

}

.swiper-slide {

}


.purpose {
    width: 100%;
    height: 300px;
}

.p-container{
    width: 100%;
    height: 144px;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    padding: 0 64px;
}

.p-c-lead{
    display: flex;
    line-height: 1;
    position: absolute;
    top: -72px;
}


.p-c-l__head{
    width: 235px;
    padding-left: 95px;
}

.p-c-l__head h2 {
    font-size: 20px;
    font-family: serif;
    font-weight: 400;
}

.p-c-l__body{
    color: #fff;
    font-size: 50px;
    width: 1078px;
}

.row1{
     width: 624.5px;
     background-color: #C70D2E;
     padding: 14px 10px 8px;
}

.row2{
    width: 727px;
    margin-left: 180px;
    background-color: #C70D2E;
    padding: 14px 10px 8px;
}

/*------------------------------------------mediaに対する指定----------------------------------*/

.media {
    padding-top: 50px;
}

.l-container{

}

.media-title {
    font-size: 64px;
    font-family: serif;
    line-height: 1;
}

.media-blog {
    position: relative;
    grid-area: slide;
    width: 320px;
    margin-top: 38px;
}

/*------------------------------------------storyに対する指定----------------------------------*/

.story {
    margin-top: 112px;
    padding-top: 112px;
    position: relative;
    overflow: hidden;
}

.story-wrap {
    position: relative;
}

.story-wrap::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #F0F4F8;
    z-index: -1;
}

.story-container {
    padding: 0 64px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.story-contents {
    padding: 260px 0 250px;
    position: relative;
}

.story-background-top {
    font-size: 200px;
    color: rgb(255, 255, 255);
    font-family: serif;
    opacity: 0.6;
    position: absolute;
    line-height: 200px;
    position: absolute;
    top: 260px;
    left: 0;
}

.story-title {
    font-size: 42px;
    position: absolute;
    top: 190px;
    left: 518px;
}

.story-description {
    width: 640px;
    margin-left: auto;
    position: relative;
    z-index: 2;
}

.story-description picture {
    margin-bottom: 60px;;
    display: block;
}

.story-description picture img {
    width: 100%;
    display: block;
}

.story-description-text {
    line-height: 43.2px;
    padding-right: 64px;
    font-family: "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "メイリオ", "Meiryo", sans-serif;
    font-size: 18px;
}

.picture-woman {
    width: 257px;
    position: absolute;
    top: 412.4px;
    left: 161px;
}

.picture-woman img {
    width: 100%;
}

.picture-man {
    width: 161px;
    position: absolute;
    top: 616px;
    left: -70px;
}

.picture-man img {
    width: 100%;
}

.story-more {
    width: 257px;
    margin-top: 10px;
    position: absolute;
    top: 809px;
    left: 161px;
    text-align: right;
}

.story-more-link {
    border-bottom: 1px solid #C80D2F;
    width: 100%;
    padding: 20px 20px 20px 0;
    display: inline-flex;
    align-items: center;
    position: relative;
    color: #C80D2F;
    font-family: "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "メイリオ", "Meiryo", sans-serif;
}

.story-more-icon {
    margin-right: 16px;
}

.story-more-icon svg {
    width: 20px;
    fill: #C80D2F;
    vertical-align: middle;
}

.story-background-bottom {
    font-size: 200px;
    color: rgb(255, 255, 255);
    font-family: serif;
    opacity: 0.6;
    position: absolute;
    line-height: 200px;
    bottom: -32px;
    left: 716px;
}

/*------------------------------------------featureに対する指定----------------------------------*/

/*------------------------------------------serviceに対する指定----------------------------------*/

.service {
    padding: 112px 0 130px ;
    position: relative;
}


.service::before {
    background: #D9D9D9;
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}
.service-container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 128px;
}

.service-head {

}

.service-head h2 {
    font-size: 64px;
    font-family: serif;
    font-weight: 200;
}

.service-sentence {
    margin-top: 30px;
    font-size: 17px;
    line-height: 30.6px;
    font-family: "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "メイリオ", "Meiryo", sans-serif;
    opacity: 0.8;
}

.service-sentence p {
}

.service-contents {
    margin-top: 60px;
    margin-right: -64px;
}

.service-contents-wrap {
    
}

.service-contents-wrap-body {
    width: 100%;
    margin-top: 37px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
}

.service-contents-wrap-body-item {

}

.service-items-link {
    color: #191919;
}
.service-items-link-figure {

}

.service-items-link-figure img {
    max-width: 395px;
}

.service-items-title {
    margin-top: 16px;
}

.service-items-title p {
    font-size: 24px;
    font-weight: 200;
    opacity: 0.8;
}

.service-items-title-btn {

}

.service-items-title-btn-icon {

}

.service-items-title-btn-icon svg {

}

/*-----------------------------------achievementsに対する指定------------------------------*/

.achievements{
    padding: 110px 0;
    position: relative;
}

.achievements::before {
    content: "";
    background: #D9D9D9;
    display: block;
    height: 1px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.achievements-container{
    padding: 0 128px;
    width: 100%;
    max-width: 1440px;
}

.achievements-wrap{
    display: flex;
}

.awards{
    width: 500px;
    flex: 1 0 auto;
}

.awards-title{

}

.awards-title h2{
    font-size: 32px;
}

.awards-li{
    font-size: 15px;
    font-family: "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "メイリオ", "Meiryo", sans-serif;
    margin-bottom: 20px;
}

.awards-li li{
    margin-top: 32px;
}

.awards-athor{
    padding: 20px 20px 20px 0;
    border-bottom: 1px solid #C80D2F;
    color: #C70D2E;
    display: inline-flex;
    align-items: center;
}

.awards-athor-btn{}

.awards-athor-text{}

.client{}

.client-title{}

.client-title h2{
    font-size: 32px;
}

.client-text{
    margin-top: 32px;
    font-family: "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "メイリオ", "Meiryo", sans-serif;
}

.client-logos{
    margin: 46px 0 0 7px;

}

.client-logos img{
    width: 639px;
    max-width: 100%;
    vertical-align: middle;
}


/*------------------------------------------------------サイドバーに対する指定----------------------------------------------------------------------------------*/
.aside-container {

}

.aside-c-border {
    height: 100%;
    width: 1px;
    position: fixed;
    left: 64px;
    top: 0;
    background: #D9D9D9;
}

.aside-c-text {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 100%;
}

.aside-c-text p {
    transform: rotate(90deg);
    display: inline-flex;
    font-family: serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1;
    white-space: nowrap;
}