@charset "utf-8";

/*------------------------------------------全体に対する指定----------------------------------*/
html {
    height: 100%;
    font-size: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    position: relative;
    height: 100%;
    color: #191919;
    font-family: "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "メイリオ", "Meiryo", sans-serif;
    line-height: 1.5;
    font-weight: 500;
    /*初期値が400なので少し太め*/
    word-wrap: break-word;
    /*IEが独自採用したもので必要に応じて途中改行を行う*/
    line-height: 1.5;
}

svg {
    max-width: 100%;
    vertical-align: middle;
}

button {
    font-family: "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "メイリオ", "Meiryo", sans-serif;
}

.container {
    width: 100%;
    overflow: hidden;
}

/*------------------------------------------ヘッダーに対する指定----------------------------------*/
#header {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    background-color: #fff;
    width: 100%;
    height: 120px;
    /*回答ではvar(--header-height)としている*/
    border-bottom: 1px solid #D9D9D9;
    z-index: 2;
}


.header-wrapper {
    display: flex;
    height: 100%;
}

.header-wrapper-title {
    position: absolute;
    opacity: 1;
    left: 64px;
    top: 34px;
}

.header-wrapper-title img {
    width: 85px;
}

.header-wrapper-nav {
    opacity: 1;
    position: absolute;
    right: 260px;
    display: flex;
    align-items: center;
    height: 100%;
}



.header-wrapper-nav-list {
    display: flex;
    gap: 32px;
}

.header-wrapper-nav-list li {
    position: relative;
}

.thin {
    display: none;
}


.header-wrapper-menu-button,
.header-wrapper-nav-list-link {
    display: inline-flex;
    align-items: center;
    color: #191919;
    font-size: 15px;
    line-height: 22px;
    cursor: pointer;
}



@media (min-width: 1024px) {
    .header-wrapper-menu-button:hover .menu-category {
        color: #C80D2F;
    }

    .header-wrapper-menu-button:hover .menu-allow {
        stroke: #C80D2F;
    }

    .header-nav__listLv2 li:hover {
        background: #C80D2F;
    }

    .header-nav__listLv2 li:hover .hidden-character {
        color: #fff;
    }

    .header-nav__listLv2 li:hover .hidden-allow {
        fill: #fff;
    }
}


.enterprise:hover .header-nav__listLv2,
.characteristic:hover .header-nav__listLv2,
.menu-service:hover .header-nav__listLv2 {
    display: block;
}

.header-nav__listLv2:hover {
    display: block;
}




.header-wrapper-nav-list-link:hover {
    color: #C80D2F;
}

.header-wrapper-menu-button i {
    font-size: 0;
    /*これは何？*/
    margin-left: 8px;
}

.header-wrapper-nav-list svg {
    width: 10px;
    height: auto;
    stroke: #191919;

}



.hidden-character {
    color: #191919;
    font-size: 15px;
    font-weight: 400;
    opacity: 0.8;
}





.header-nav__listLv2 {
    position: absolute;
    left: 0;
    display: none;
    background-color: #F0F4F8;
    color: #191919;
    overflow: hidden;
}

.header-nav__listLv2 li {
    width: 220px;
    border-bottom: 1px solid #F0F4F8;
}



.header-nav__listLv2 span {
    color: #191919;
}

.header-nav__listLv2 i {
    margin-right: 12px;
}

.header-nav__listLv2 svg {
    width: 14px;
    height: 11px;
    stroke: none;
}

.header-nav__listLv2 a {
    padding: 12px;
    display: flex;
    align-items: center;
    line-height: 1.125;
}

.header-wrapper-contact {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    background-color: #C80D2F;
    background-image: linear-gradient(to right, #333 50%, #C80D2F 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.3s ease-out;
    width: 224px;
    height: 168px;
}

.header-wrapper-contact a {
    display: flex;
    width: 100%;
    height: 100%;
    color: #fff;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 500;
}

.header-humberger-menu {
    display: none;
    width: 96px;
    height: 96px;
    position: absolute;
    top: 0;
    right: 0;
    background: #C80D2F;
    transition: 0.3s;
}

.humberger-menu {
    position: relative;
    height: 100%;
}

.humberger-menu span {
    display: block;
    position: absolute;
    height: 1px;
    width: 2.5rem;
    background: #fff;
    top: calc(50% - 0.375rem);
    left: 1.875rem;
    transition: 0.3s;
}

.humberger-menu span:nth-child(2) {
    top: 50%;
}

.humberger-menu span:nth-child(3) {
    top: calc(50% + 0.375rem);
}

.header-wrapper-contact:hover {
    background-position: left bottom;
}

.scrolled .header-wrapper-contact {
    height: calc(100% + 1px);
}

.scrolled .header-humberger-menu {
    width: 72px;
    height: 72px;
}

.scrolled .humberger-menu span {
    left: calc(50% - 20px);
}

.header-contact-sm {
    display: none;
}

.menu-allow:checked~.header-nav__listLv2 li {
    display: block;
}

.expanded {
    height: 214px;
}


/*------------------------------------------トップに対する指定----------------------------------*/

.top-contents-wrap {
    margin-top: 120px;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.top-contents-wrap::before {
    content: "";
    background: #F0F4F8;
    display: block;
    position: absolute;
    top: auto;
    left: 64px;
    bottom: 13.45vw;
    height: 31.94vw;
    width: 100%;
    z-index: -1;
}



.top-contents-wrap-character {
    position: absolute;
    top: 140px;
    left: 128px;
    z-index: 1;
}

.character {
    font-size: 6.98vw;
    line-height: 1.1;
    display: flex;
    flex-direction: column;
    letter-spacing: -0.07em;
    align-items: flex-start;
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
}

.character span {
    padding: 4.6px 0;
}


.text {
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", "HG明朝E", "ＭＳ 明朝", serif;
    font-size: 18px;
    line-height: 28.8px;
    letter-spacing: 0.18px;
    padding: 29px 0;
    font-weight: 500;
}


.top-contents-wrap-image {
    position: absolute;
    top: 0;
    left: 49%;
    overflow: hidden;
    width: 51.1111111111vw;
    height: auto;
    overflow: hidden;
    z-index: 1;
}

/* .top-images {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
} */

/* .top-images-container {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    box-sizing: content-box;
} */

/* .top-images-wrapper {
    opacity: 1;
    flex-shrink: 0;
    position: relative;
} */

.top-images-pic {
    display: block;
}



.slide-animation {
    animation: fadezoom 8s 0s forwards;
}

@keyframes fadezoom {
    0% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1.0);
    }
}


.purpose {
    width: 100%;
    height: auto;
}

.p-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    padding: 0 64px;
}

.p-c-lead {
    display: flex;
    line-height: 1;
    position: relative;
    top: -72px;
    /*元々の表示位置から上方に72pxの位置に配置する*/
}

.p-c-lead::before {
    content: "";
    background: #F8F9FB;
    position: absolute;
    top: 0;
    left: 290px;
    width: 560px;
    height: 263px;
    z-index: -1;
}


.p-c-l__head {
    width: 235px;
    padding-left: 95px;
}

.p-c-l__head h2 {
    font-size: 17px;
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    opacity: 0.8;
}

.p-c-l__body {
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", "HG明朝E", "ＭＳ 明朝", serif;
    color: #fff;
    font-size: 50px;
    width: 1078px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.row1 {
    background-color: #C80D2F;
    padding: 14px 10px 8px;
    position: relative;
    z-index: 1;
}

.row2 {
    margin-left: 180px;
    background-color: #C80D2F;
    padding: 14px 10px 8px;
}



/*------------------------------------------mediaに対する指定----------------------------------*/

.media {
    padding-top: 8.5rem;
    /*overflow: hidden;--なんでここに入れた？--*/
}

.media-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 128px;
}

.media-top-blog__wrap {
    display: grid;
    grid-template-areas: "head ctrl more" "slide slide slide";
    grid-template-columns: 1fr auto auto;
}

.media-top-blog__head {
    grid-area: head;
}

.media-top-blog__head h2 {
    font-size: 50px;
    line-height: 64px;
    font-family: 'Libre Baskerville', serif;
    font-weight: 500;
}

.media-ctrl {
    margin: 20px 42px 0 0;
    padding-left: 32px;
    display: flex;
    grid-area: ctrl;
    align-self: center;
    /*なにこれ*/
    justify-content: flex-end;
    position: relative;
}

.media-ctrl-button-left {
    width: 33px;
    height: 33px;
    border: 1px solid #D9D9D9;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    transition: background-color 0.3s;
    cursor: default;
}

.media-ctrl-button-right::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #C80D2F;
    border-radius: 100%;
    transform: scale(0);
    transition: 0.6s;
}

.media-ctrl-button-right:hover .media-ctrl-icon {
    fill: #D9D9D9;
}

.media-ctrl-button-right:hover::before {
    transform: scale(1.15);
    transition: 0.3s;
}



.media-ctrl-icon {
    width: 8px;
    height: auto;
    position: relative;
    fill: #C80D2F;
}

.media-ctrl-button-left .media-ctrl-icon {
    fill: #D9D9D9;
}

.media-ctrl-button-right {
    margin-left: 20px;
    width: 33px;
    height: 33px;
    border: 1px solid #C80D2F;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    transition: background-color 0.3s;
}

.media-ctrl::after {
    content: "";
    width: 1px;
    height: 38px;
    background: #D9D9D9;
    position: absolute;
    top: -1.5px;
    right: -32px;
    display: block;
}

.media-slide {
    grid-area: slide;
    margin-top: 38px;
}

.swiper {
    z-index: 1;
    overflow: initial;
}


.slide-wrapper {
    display: flex;
}

.slide {
    margin-right: 32px;
}

.c-card-blog {
    height: 100%;
}

.p-top-blog__more {
    grid-area: more;
    align-self: center;
    text-align: right;
    margin-top: 20px;
}


.media-title {
    font-size: 64px;
    font-family: 'Libre Baskerville', serif;
    line-height: 1;
}

.media-blog {
    position: relative;
    grid-area: slide;
    width: 320px;
    margin-top: 38px;
}

.c-card-blog__link {
    height: 100%;
    padding-bottom: 16px;
    display: inline-block;
    border-bottom: 1px solid #D9D9D9;
    position: relative;
}

.c-card-blog__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 320px;
    height: 1px;
    background-color: #C80D2F;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s;
}

.c-card-blog__link:hover::after {
    transform: scaleX(1);
}

.c-card-blog__pic img {
    width: 320px;
}

.c-card-blog__meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}

.c-card-blog__cate span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #C80D2F;
    color: #C80D2F;
    height: 23px;
    padding: 2px 13px;
    border-radius: 100px;
    font-size: 12px;
}



.c-card-blog__date {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.15px;
    color: #A6A6A8;
}

.c-card-blog__title {
    font-size: 15px;
    line-height: 21px;
    margin-top: 12px;
    color: #191919;
    transition: color 0.3s;
}

.c-card-blog__link:hover .c-card-blog__title {
    color: #C80D2F;
}

.c-card-blog__tag {
    color: #A6A6A8;
    margin-top: 8px;
    font-size: 12px;
}

.p-top-blog__more {
    margin-top: 20px;
    grid-area: more;
    align-self: center;
    text-align: right;
    margin-left: 30px;
}

.c-btn-angle {
    padding: 20px 20px 20px 0;
    display: inline-flex;
    align-items: center;
    border-bottom: #C80D2F 1px solid;
    position: relative;
}

.p-top-blog__more:hover {
    background-color: #C80D2F;
    transition: 0.5s;
}

.p-top-blog__more:hover .c-btn-angle__txt {
    color: #fff;
}

.p-top-blog__more:hover .c-btn-angle__ico svg {
    fill: #fff;
}

.p-top-blog__more:hover .c-btn-angle__ico {
    margin-right: 3px;
    margin-left: 13px;
    transition: 0.3s;
}

.c-btn-angle__ico {
    margin-right: 16px;
}

.c-btn-angle__ico svg {
    width: 12px;
    height: auto;
    fill: #C80D2F;
}

.c-btn-angle__txt {
    color: #C80D2F;
}


.p-top-blog__more-sm {
    display: none;
}



/*------------------------------------------storyに対する指定----------------------------------*/

.story {
    margin-top: 112px;
    padding-top: 112px;
    position: relative;
    overflow: hidden;
}

.story-wrap {
    position: relative;
}

.story-wrap::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #F0F4F8;
    z-index: -1;
}

.story-container {
    padding: 0 64px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.story-contents {
    padding: 260px 0 250px;
    position: relative;
}

.story-background-top {
    font-size: 165px;
    color: rgb(255, 255, 255);
    font-family: 'Libre Baskerville', serif;
    opacity: 0.6;
    position: absolute;
    line-height: 200px;
    position: absolute;
    top: 260px;
    left: 0;
}

.story-title {
    font-size: 42px;
    position: absolute;
    top: 190px;
    left: 518px;
}

.story-description {
    width: 640px;
    margin-left: auto;
    position: relative;
    z-index: 1;
}

.story-description picture {
    margin-bottom: 60px;
    ;
    display: block;
}

.story-description picture img {
    width: 100%;
    display: block;
}

.story-description-text {
    line-height: 43.2px;
    padding-right: 64px;
    font-size: 18px;
}

.picture-woman {
    width: 257px;
    position: absolute;
    top: 412.4px;
    left: 161px;
}

.picture-woman img {
    width: 100%;
}

.picture-man {
    width: 161px;
    position: absolute;
    top: 616px;
    left: -70px;
}

.picture-man img {
    width: 100%;
}

.story-more {
    width: 257px;
    margin-top: 10px;
    position: absolute;
    top: 809px;
    left: 161px;
    text-align: right;
}



.story-more-link {
    border-bottom: 1px solid #C80D2F;
    width: 100%;
    padding: 20px 20px 20px 0;
    display: inline-flex;
    align-items: center;
    position: relative;
    color: #C80D2F;
    transition: background-color 0.3s;
}

.story-more-link span {
    font-size: 15.5px;
    font-weight: 400;
}

.story-more-icon {
    margin-right: 16px;
}

.story-more-icon svg {
    width: 20px;
    height: auto;
    fill: #C80D2F;
    vertical-align: middle;
}



.story-background-bottom {
    font-size: 165px;
    color: rgb(255, 255, 255);
    font-family: 'Libre Baskerville', serif;
    opacity: 0.6;
    position: absolute;
    line-height: 200px;
    bottom: -32px;
    left: 716px;
}

.story-more-sm {
    display: none;
}

.story-more:hover {
    background-color: #C80D2F;
    transition: 0.3s;
}

.story-more:hover .story-more-icon svg {
    fill: #fff;
}

.story-more:hover .story-more-link span {
    color: #fff;
    opacity: 0.7;
}

.story-more:hover .story-more-icon {
    margin-right: 3px;
    margin-left: 13px;
    transition: 0.5s;
}

/*------------------------------------------featureに対する指定----------------------------------*/


.feature {
    padding: 115px 0 124px;
    position: relative;
    overflow: hidden;
}

.feature-container {
    padding: 0 64px;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
}

.feature__wrap {
    display: flex;
    padding: 0 64px;
}

.feature__head {
    flex: 1;
    /*---?---*/
}

.feature__head h2 {
    font-size: 28px;
    font-family: minion-pro, serif;
    line-height: 32px;
    font-weight: 500;
    letter-spacing: -0.02em;
}

.feature__ctrl {
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-right: 32px;
    padding-right: 32px;
}

.c-btn-circle {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 33px;
    height: 33px;
    border: 1px solid #d9d9d9;
    cursor: default;
}



.feature__ctrl::after {
    content: "";
    display: block;
    width: 1px;
    height: 38px;
    background: #D9D9D9;
    position: absolute;
    right: 0;
    top: -1.5px;
}

.c-btn-circle-right {
    margin-left: 20px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 33px;
    height: 33px;
    border: 1px solid #C80D2F;
}

.c-btn-circle-right::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #C80D2F;
    border-radius: 100%;
    transform: scale(0);
    transition: 0.6s;
    z-index: -1;
}

.c-btn-circle-right:hover::before {
    transform: scale(1.15);
    transition: 0.3s;
}

.c-btn-circle-right:hover .c-btn-circle__ico {
    fill: #fff;
}


.c-btn-circle-left__ico {
    width: 8px;
    fill: #D9D9D9;
}

.c-btn-circle__ico {
    width: 8px;
    fill: #C80D2F;
}

.feature__count {
    align-self: center;
    font-weight: 400;
    font-size: 15px;
    color: #C80D2F;
    letter-spacing: -2.5px;
}

.feature__slide {
    margin-top: 30px;
}

.feature-slide-list {
    display: flex;
    padding-top: 30px;
}


.feature-slide:nth-child(1) {
    background: #a3cfe2;
}

.feature-slide:nth-child(2) {
    background: #ebe7e1;
}

.feature-slide {
    width: 864px;
    margin-right: 32px;
    flex-shrink: 0;
}

.feature-swiper-slide-next {
    width: 864px;
    margin-right: 32px;
    flex-shrink: 0;
    height: 100%;
    position: relative;
    transition-property: transform;
    background-color: #ebe7e1;
}

.feature-slide:hover .c-card-feature-case__pic img {
    transform: scale(1.07);
}

.c-card-feature-case__link {
    display: flex;
    flex-direction: column;
    padding: 86px 62px 32px;

}

.c-card-feature-case__pic {
    max-width: 544px;
    align-self: center;
}

.c-card-feature-case__pic img {
    max-width: 100%;
    vertical-align: middle;
    transition: transform 1.0s;
}

.c-card-feature-case__meta {
    display: flex;
    margin-top: 48px;
    gap: 88.96px;
    font-size: 15px;
    line-height: 22px;
    color: #191919;
}


.c-card-feature-case__meta dt {
    font-size: 12px;
}



.feature-slide__indicator {
    margin-top: 50px;
    width: 448px;
    height: 3px;
    background: #D9D9D9;
    margin-left: auto;
}




/*------------------------------------------serviceに対する指定----------------------------------*/

.service {
    padding: 112px 0 130px;
    position: relative;
}

.service::before {
    background: #D9D9D9;
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

.service-container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 128px;
}

.service-head h2 {
    font-size: 50px;
    font-family: 'Libre Baskerville', serif;
    font-weight: 200;
}

.service-sentence {
    margin-top: 30px;
    font-size: 17px;
    line-height: 30.6px;
    opacity: 0.8;
}

.service-contents {
    margin-top: 60px;
    margin-right: -64px;
}

.service-contents-wrap-body {
    width: 100%;
    margin-top: 37px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
}

.service-items-link {
    color: #191919;
}

.service-items-link:hover .service-items-link-figure img {
    transform: scale(1.07);
}

.service-items-link:hover .service-items-title p {
    color: #C80D2F;
}


.service-items-link:hover .c-btn-circle__ico {
    fill: #fff;
}

.service-items-link-figure {
    overflow: hidden;
}

.service-items-link-figure img {
    max-width: 395px;
    transition: transform 1.0s;
}

.service-items-title {
    margin-top: 16px;
    position: relative;
}

.service-items-title p {
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", "HG明朝E", "ＭＳ 明朝", serif;
    font-size: 24px;
    font-weight: 200;
    opacity: 0.8;
    transition: color 1.0s;
}

.service-items-title-btn {
    position: absolute;
    top: 6px;
    right: 0;

}

.service-items-title-btn-icon {
    width: 33px;
    height: 33px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #C80D2F;
    border-radius: 100%;
    transition: background-color 0.3s;
}

.service-items-title-btn-icon::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #C80D2F;
    border-radius: 100%;
    transform: scale(0);
    transition: 0.3s;
    z-index: -1;
}


.service-items-link:hover .service-items-title-btn-icon::before {
    transform: scale(1.15);
    transition-duration: 0.3s;
}

.c-btn-circle__ico:hover {
    fill: #fff;
}



/*-----------------------------------achievementsに対する指定------------------------------*/

.achievements {
    padding: 110px 0;
    position: relative;
}

.achievements::before {
    content: "";
    background: #D9D9D9;
    display: block;
    height: 1px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.achievements-container {
    padding: 0 128px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.achievements-wrap {
    display: flex;
}

.awards {
    width: 500px;
    flex: 1 0 auto;
}

.awards-title h2 {
    font-size: 1.65rem;
    font-family: 'Libre Baskerville', serif;
    font-weight: 200;
}

.awards-li {
    font-size: 15px;
    margin-bottom: 20px;
}

.awards-li li {
    margin-top: 32px;
}

.awards-athor {
    padding: 20px 20px 20px 0;
    border-bottom: 1px solid #C80D2F;
    color: #C70D2E;
    display: inline-flex;
    align-items: center;
    font-size: 15px;
    letter-spacing: 0.9px;
}

.awards-athor-btn {
    margin-right: 16px;
}

.awards-athor-btn svg {
    width: 12px;
    height: 9.4px;
    fill: #C80D2F;
}

.awards-athor:hover {
    background-color: #C80D2F;
    transition: 0.5s;
}

.awards-athor:hover .awards-athor-text,
.awards-athor:hover .awards-athor-btn svg {
    color: #fff;
    fill: #fff;
}

.awards-athor:hover .awards-athor-btn {
    margin-right: 3px;
    margin-left: 13px;
    transition: 0.3s;
}

.client-title h2 {
    font-size: 1.65rem;
    font-family: 'Libre Baskerville', serif;
    font-weight: 200;
}

.client-text {
    margin-top: 32px;
}

.client-logos {
    margin: 46px 0 0 7px;

}

.client-logos img {
    width: 639px;
    max-width: 100%;
    vertical-align: middle;
}

/*-----------------------------------------------contactに対する指定--------------------------*/


.contact {
    position: relative;
    z-index: 1;
}


/*-----------------recruieに対する指定----------------*/
.contact-recruit {
    border-top: 1px solid #D9D9D9;
}

.contact-link {
    height: 417px;
    display: block;
    position: relative;
    overflow: hidden;
    color: #191919;
    transition: color 0.3s;
}

.action-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transform: scale(1.1);
    transition: opacity 0.3s, transform 0.3s;
}



.action-bg img {
    width: 100%;
    height: 100%;
}

.contact-container {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 128px;
}

.contact-wrap {
    display: flex;
    padding-top: 149px;
}

.contact-title {
    width: 384px;
    flex: 0 0 auto;
}

.contact-title h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 50px;
    font-weight: 400;
}

.contact-body {
    padding-right: 70px;
    /* color: #191919; */
    flex: 0 0 auto;
}

.contact-body h3 {
    margin-top: 0;
    font-size: 32px;
    line-height: 48px;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", "HG明朝E", "ＭＳ 明朝", serif;
    font-weight: 400;
}

.contact-body p {
    display: block;
    margin-top: 20px;
    font-size: 15px;
    line-height: 27px;
}

.recruit-btn {
    position: absolute;
    bottom: calc(50% - 3rem);
    right: 4rem;
}

.recruit-btn-simbol {
    width: 6rem;
    height: 6rem;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #C80D2F;
    border-radius: 100%;
}

.recruit-btn-simbol::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #C80D2F;
    border-radius: 100%;
    z-index: 1;
    transform: scale(0);
    transition: 0.3s;
}

.contact-link:hover .recruit-btn-simbol::before {
    transform: scale(1.1);
}

.contact-link:hover {
    color: #fff;
}

.contact-link:hover .c-btn-circle_ico {
    fill: #fff;
    z-index: 2;
}

.contact-link:hover .action-bg {
    opacity: 1;
    transform: scale(1.0);
}


.c-btn-circle_ico {
    width: 14px;
    position: relative;
    fill: #C80D2F;
    height: auto;
    font-size: 0;
    transition: 0.3s;
    max-width: 100%;
    vertical-align: middle;
}

/*---------------inquiryに対する指定------------------*/

.contact-inquiry {
    border-top: 1px solid #D9D9D9;
    position: relative;
}

/*------------------------------------------------------footerに対する指定----------------------------------------------------------------------------------*/
/*---footerの一番上の矢印ゾーン---*/
.footer {
    border-top: 1px solid #D9D9D9;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.footer-pagetop {
    position: relative;
    height: 64px;
    margin-bottom: -1px
        /*これによりこのエリアが1px上方にあることになる*/
}

.footer-pagetop a {
    border-top: 1px solid #191919;
    position: absolute;
    top: -1px;
    /*footer-pagetopで上方に上げた分だけこのエリアを上方にあげる*/
    right: 0;
    /*これで右寄せになる */
    display: flex;
    /*flexにした理由は？*/
    justify-content: center;
    align-items: center;
    width: 256px;
    height: 100%;
}

.footer-pagetop a:hover {
    background-color: #C80D2F;
    border-top: 0px;
    transition: 0.3s;
}

.footer-pagetop a:hover .footer-allow {
    fill: #fff;
}

.footer-pagetop svg {
    width: 22px;
    fill: #191919;
    /*図形やテキストを塗りつぶす*/
    height: auto;
}

/*---footerの黒いゾーン---*/
.footer-content {
    background: #333;
    color: #fff;
    padding: 164px 0 193px;
}

.footer-content a {
    color: #fff;
}

.footer-container {
    padding: 0 64px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.footer-wrap {
    display: grid;
    grid-template-areas: "company nav" "report bnr";
    grid-template-columns: 450px 1fr;
    /*gridの１列目の幅を450pxに固定し残りの空間にはもう１列作成できる*/
    gap: 60px 0;
    position: relative;
}

.footer-nav {
    grid-area: nav;
    margin-top: 62px;
}

.footer-nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 64px;
}

.footer-nav__list li {
    width: auto;
}

.footer-nav__link i {
    margin-left: 0.75rem;
}

.footer-nav__link svg {
    stroke: #fff;
}

.footer-nav__link {
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    opacity: 0.7;
}

.footer-nav__listLv2 li {
    margin-top: 10px;
}

.footer-nav__listLv2 a {
    font-size: 12px;
    line-height: 13.5px;
    opacity: 0.7;
}

.footer-company {
    grid-area: company;
}

._name {
    font-weight: 400;
    font-size: 24px;
    line-height: 38.4px;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", "HG明朝E", "ＭＳ 明朝", serif;
}

._en {
    margin-top: 26px;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", "HG明朝E", "ＭＳ 明朝", serif;
    opacity: 0.8;
}

._info {
    margin-top: 31px;
    font-size: 15px;
    line-height: 27px;
    opacity: 0.7;
}

.footer-report {
    grid-area: report;
    border-bottom: 1px solid #D9D9D9
}

.footer-report::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background: #C80D2F;
    transition: width 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.footer-report a {
    display: flex;
    align-items: center;
    position: relative;
    color: #fff;
    padding-bottom: 35px;
}

.footer-request {
    font-weight: 400;
    opacity: 0.8;
}

.footer-report:hover .footer-request {
    color: #C80D2F;
}

.footer-report:hover .footer-report-allow {
    fill: #C80D2F;
}


.footer-report:hover::after {
    width: 36%;
}


.footer-report a i {
    width: 14px;
    height: 11px;
    fill: #fff;
    font-size: 0;
    /*これは何で入っている？*/
    margin-right: 8px;
}

.footer-bnr {
    grid-area: bnr;
    display: flex;
    width: 446px;
    gap: 26px;
    margin-left: auto;
}

.footer-bnr img {
    width: 210px;
    height: 67px;
}

/*---footerの一番下の部分---*/

.footer-bottom__wrap {
    padding: 44px 0;
    display: flex;
    align-items: center;
}

.footer-logo {
    width: 86px;
}

.footer-link {
    margin-left: auto;
}

.footer-link ul {
    display: flex;
    gap: 50px;
}

.footer-link a {
    font-size: 12px;
    color: #191919;
}





/*------------------------------------------------------サイドバーに対する指定----------------------------------------------------------------------------------*/


.aside-c-border {
    height: 100%;
    width: 1px;
    position: fixed;
    left: 64px;
    top: 0;
    background: #D9D9D9;
}

.aside-c-text {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 100%;
}

.aside-c-text p {
    transform: rotate(90deg);
    display: inline-flex;
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    white-space: nowrap;
}

/*-----------------Loadingに対する指定-------------------------------------------------------------------------*/
.loading {
    position: fixed;
    inset: 0;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    animation: loading 3.0s 4.5s both;
}

.loading img {
    width: 110px;
    animation: opacity 4.0s 0.5s both;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes loading {
    0% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/*--------------------------------------------タブレット版-------------------------------------------------------------------------*/


@media (min-width: 1024px) {
    .top-contents {
        height: 67.0138888889vw;
    }

    .top-contents-wrap-character {
        left: 8.8888888889vw;
        top: 9.7222222222vw;
    }




}

@media (max-width: 1025px) {
    .hidden-allow {
        display: none;
    }

    .header-nav__listLv2 a::before {
        content: "";
        display: block;
        width: 28.8px;
        height: 1px;
        background: #D9D9D9;
        margin-right: 11.5px;
    }
}


@media (max-device-width: 1024px) {

    /*--header--*/
    #header {
        height: 85px;
    }

    .header-wrapper-title {
        top: 24px;
        left: 45px;
    }

    .header-wrapper-title img {
        width: 60px;
    }

    .header-wrapper-menu-button,
    .header-wrapper-nav-list-link {
        font-size: 10px;
    }

    .header-wrapper-contact {
        width: 159px;
        height: 119px;
    }

    .header-wrapper-contact span {
        font-size: 10px;
    }

    .header-wrapper-nav {
        right: 184px;
    }

    .header-wrapper-nav-list {
        gap: 24px;
    }

    /*--aside--*/
    .aside-c-border {
        left: 45px;
    }

    .aside-c-text {
        width: 45px;
    }

    .aside-c-text p {
        font-size: 10px;
    }

    /*--top--*/
    .top-contents-wrap::before {
        left: 45px;
    }

    .top-images-pic img {
        width: 100%;
    }

    .top-contents-wrap {
        margin-top: 85px;
    }


    .p-c-l__head h2 {
        font-size: 14px;
    }

    .p-c-l__body {
        font-size: 35px;
    }

    .row2 {
        position: relative;
        z-index: 1;
    }

    .p-c-lead {
        top: -54px;
    }

    .p-c-lead::before {
        width: 398px;
        height: 187px;
        left: 229px;
    }

    /*--media--*/
    .media-top-blog__head h2 {
        font-size: 45px;
    }

    .media-ctrl-button-left,
    .media-ctrl-button-right,
    .c-btn-circle,
    .c-btn-circle-right,
    .service-items-title-btn-icon {
        width: 22.8px;
        height: 22.8px;
    }

    .media-ctrl-icon,
    .c-btn-circle__ico {
        width: 5px;
    }

    .c-btn-angle__txt {
        font-size: 10.6px;
    }

    .c-btn-angle__ico svg {
        width: 8.5px;
    }

    .c-btn-angle {
        padding: 14px 14px 14px;
    }

    .media-container {
        padding: 0 91px;
    }

    .c-card-blog__pic img {
        width: 227px;
    }

    .media {
        padding-top: 35.5px;
    }

    /*-----story------*/

    .story {
        margin-top: 14px;
        padding-top: 79px;
    }

    .story-description {
        width: 455px;
        margin-left: auto;
    }

    .story-container {
        padding: 0 45px;
    }

    .story-contents {
        padding: 184px 0 177px;
    }

    .story-description-text {
        font-size: 12.8px;
        line-height: 30px;
        padding-right: 45.5px;
    }

    .story-description picture {
        margin-bottom: 42px;
    }

    .picture-woman {
        top: 293px;
        left: 114px;
        width: 182px;
    }

    .picture-man {
        top: 438px;
        width: 114px;
        height: 186px;
    }

    .story-background-top {
        top: 200px;
        font-size: 122px;
        line-height: 1;
    }

    .story-title {
        top: 135px;
        left: 368px;
    }

    .story-title svg {
        width: 38px;
        height: 464px;
    }

    .story-background-bottom {
        font-size: 112px;
        bottom: -58px;
        left: 509px;
    }

    /*---feature---*/
    .feature {
        padding: 81px 0 88px;
    }

    .feature-container {
        padding: 0 45px;
    }

    .feature__wrap {
        padding: 0 45px;
    }

    .feature__head h2 {
        font-size: 22px;
    }

    .feature__ctrl::after {
        height: 27px;
    }

    .feature__count {
        font-size: 10.5px;
    }

    .feature__ctrl {
        margin-right: 22.5px;
        padding-right: 22.7px;
    }

    .feature-slide {
        width: 614px;
    }

    .c-card-feature-case__pic {
        width: 386px;
    }

    .c-card-feature-case__meta {
        margin-top: 38px;
    }

    .c-card-feature-case__meta {
        font-size: 10px;
        line-height: 1.2;
    }

    .c-card-feature-case__link {
        padding: 61px 44px 22.5px;
    }

    /*----service----*/

    .service {
        padding: 79px 0 92px;
    }

    .service-container {
        padding: 0 91px;
    }

    .service-head h2 {
        font-size: 35px;
    }

    .service-sentence {
        margin-top: 21px;
    }

    .service-sentence p {
        font-size: 12.1px;
        line-height: 21px;
    }

    .service-contents {
        margin-top: 42px;
    }

    .service-items-title {
        margin-top: 11px;
    }

    .service-items-title p {
        font-size: 17px;
    }

    .service-items-link-figure img {
        width: 100%;
    }

    .service-contents-wrap-body {
        gap: 22px;
    }

    /*------------------本物がどこで横幅を制御しているのかが分からない-------------*/
    .service-contents {
        width: 887px;
    }

    /*--achievents---*/
    .awards-title h2,
    .client-title h2 {
        font-size: 20px;
    }

    .awards-li li,
    .client-text {
        font-size: 10px;
        margin-top: 22px;
    }

    .awards-athor {
        font-size: 10px;
    }

    .achievements {
        padding: 78px 0;
    }

    .achievements-container {
        padding: 0 91px;
    }

    .client-logos img {
        width: 454.3px;
    }

    .client-logos {
        margin: 32px 0 0 4.9px;
    }

    .awards {
        flex: 1;
    }

    .client {
        flex: 1.3;
    }

    .contact-link {
        height: 296px;
    }

    .contact-title h2 {
        font-size: 35px;
    }

    .contact-body h3 {
        font-size: 22px;
    }

    .contact-body p {
        font-size: 10px;
        margin-top: 14px;
        line-height: 19px;
    }

    .contact-container {
        padding: 0 91px;
    }

    .contact-wrap {
        padding-top: 105px;
    }

    .contact-title {
        width: 273px;
    }

    .recruit-btn-simbol {
        width: 66px;
        height: 66px;
    }

    .recruit-btn-simbol svg {
        width: 10px;
    }

    /*----footer----*/
    .footer-pagetop {
        height: 45px;
    }

    .footer-pagetop a {
        width: 182px;
        height: 45px;
    }

    .footer-content {
        padding: 116px 0 113px;
    }

    .footer-container {
        padding: 0 45px;
    }

    .footer-nav__list {
        gap: 44px;
        flex-wrap: nowrap;
    }

    .footer-wrap {
        gap: 41px 0;
        grid-template-columns: 318px 1fr;
    }

    .footer-nav__link,
    .footer-nav__listLv2 a {
        font-size: 10px;
    }

    .footer-nav__listLv2 li {
        margin-top: 7px;
        line-height: 11px;
    }

    ._name {
        font-size: 17px;
    }

    ._en,
    ._info {
        font-size: 10.5px;
        margin-top: 18px;
    }

    .footer-request {
        font-size: 11px;
    }

    .footer-report {
        height: 42px;
    }

    .footer-bnr img {
        width: 149px;
        height: auto;
    }

    .footer-bottom__wrap {
        padding: 31px 0;
    }

    .footer-bnr {
        justify-content: flex-end;
        gap: 17px;
    }

    .footer-logo {
        width: 61px;
    }

    .footer-link a {
        font-size: 10px;
    }

}



/*--------------------------------------------------スマホ版-------------------------------------------------------------------------*/




@media (max-width: 834px) {

    #header {
        height: 72px;
        border-bottom: none;
        background-color: transparent;
    }

    .header-humberger-menu {
        display: block;
    }

    .header-wrapper-title {
        left: 9px;
        top: 19px;
    }

    .header-wrapper-title img {
        width: 67px;
        height: 39px;
    }

    body.nav_op {
        /*　この部分　スマホ　ハンバーガーメニューに必要　*/
        overflow: hidden;
        width: 100%;
        position: fixed;
    }

    .enterprise:hover .header-nav__listLv2,
    .characteristic:hover .header-nav__listLv2,
    .menu-service:hover .header-nav__listLv2 {
        display: none;
    }

    .nav_op .header-wrapper-nav {
        transform: none;
        transition: 0.5s;
        display: block;
        min-height: 100vh;
        overflow: auto;
    }

    .nav_op .header-contact-sm {
        display: block;
    }

    /*-----------ハンバーガーメニューのボタンの形を変える指定----------------------------------*/

    .nav_op .humberger-menu span {
        position: absolute;
        top: 50%;
        width: 38px;
    }

    /*幅を38pxにして上下中央に位置決めする*/

    .nav_op .humberger-menu span:nth-child(1) {
        transform: scale(-1, -1) rotate(45deg);
        /*scale(-1, -1)でx軸に反転とy軸に反転の動作が入った後、rotate(45deg)によって45度に回転する*/
        transition: 0.6s;
    }

    .nav_op .humberger-menu span:nth-child(2) {
        transform: scale(0);
        transition: 0.6s;
    }

    .nav_op .humberger-menu span:nth-child(3) {
        transform: scale(-1, -1) rotate(-45deg);
        /*-45度に回転する*/
        transition: 0.6s;
    }

    .list_op .menu-allow {
        transform: scale(-1, -1);
        transition: 0.6s;
    }

    /*-----------------------------------------------------------------------------------*/

    .header-wrapper-nav {
        background: rgb(255, 255, 255);
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 125px 19px 96px;
        position: fixed;
        transform: translateY(-100%);
        transition: 0.5s;
    }

    .header-nav__listLv2 {
        margin-top: 19px;
        position: static;
    }

    .header-wrapper-nav-list {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .header-wrapper-nav-list li {
        width: 336px;
        background: #fff;
    }

    .hidden-character {
        font-size: 17px;
        font-weight: 700;
        opacity: 1;
    }

    .menu-category,
    .header-wrapper-nav-list-link {
        font-size: 21px;
        font-weight: 700;
    }

    .header-wrapper-menu-button {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        align-items: baseline;
    }



    .header-wrapper-menu-button i {
        position: absolute;
        right: 0;
        top: calc(50% - 0.3125rem);
    }

    .header-wrapper-menu-button i svg {
        width: 19px;
        height: auto;
    }

    .thin {
        display: block;
        color: #D9D9D9;
        font-family: minion-pro, serif;
        font-size: 13px;
    }

    .header-contact-sm {
        margin-top: 75px;
        border-bottom: #C80D2F 1px solid;
    }

    .header-contact-sm a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 22px;
        position: relative;
        color: #C80D2F;
    }

    .header-contact-sm a i {
        position: absolute;
        left: 0;
        fill: #C80D2F;
    }

    .header-contact-sm a i svg {
        width: 27px;
        height: auto;
    }

    .contact-sm {
        font-size: 17px;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 0.06em;
    }

    .header-wrapper-contact {
        display: none;
    }

    aside {
        display: none;
    }

    .top-contents {
        height: 590px;
    }

    .top-contents-wrap {
        margin-top: 0;
    }

    .top-contents-wrap-character {
        top: 220px;
        left: 9px;
        mix-blend-mode: difference;
    }



    .character {
        font-size: 38px;
        letter-spacing: -1px;
        line-height: 48px;
    }

    .character span {
        color: white;
        mix-blend-mode: difference;
        /*上記によって文字色を白にしている状態で、背景色が白に比べて差異の程度を色として反映している*/
    }

    .nav_op .character {
        display: none;
    }

    .text {
        display: none;
    }

    .top-contents-wrap-image {
        top: 144px;
        left: auto;
        right: 0;
        width: 258.641px;
        z-index: -1;
    }

    .top-images-wrapper {
        width: 259px;
        height: 386px;
    }

    .top-images-pic {
        height: 100%;
    }

    .top-images-pic img {
        height: 386px;
    }

    .purpose {
        padding: 0 0 77px;
    }

    .p-container {
        padding: 0 19px;
    }

    .p-c-lead {
        display: block;
        position: static;
    }

    .p-c-l__head {
        line-height: 23px;
        font-size: 19px;
        padding: 0;
        width: auto;
    }

    .p-c-l__body {
        font-size: 20px;
        font-weight: 200;
        margin-top: 38px;
    }

    .row1 {
        padding: 0;
        margin-left: -10px;
        padding: 0;
        padding-top: 5.5px;
    }

    .row2 {
        margin-left: 60px;
        padding: 0;
        padding-top: 5.5px;
    }

    .p-c-lead::before {
        left: 0;
        top: 40px;
        margin-left: -20px;
        height: 96px;
    }

    .top-contents-wrap::before {
        top: 72px;
        left: 0;
        width: 100%;
        height: 408px;
    }

    .media {
        padding-top: 19px;
    }

    .media-container {
        padding: 0 19px;
    }

    .media-top-blog__head h2 {
        font-size: 30px;
        line-height: 31px;
    }

    .p-top-blog__more {
        display: none;
    }

    .media-ctrl {
        padding: 0;
        margin: 0;
    }

    .media-slide {
        height: 231px;
        margin-top: 14px;
    }

    .c-card-blog__link::after {
        width: 100%;
    }

    .slide {
        flex-shrink: 0;
        width: 163px;
        margin-right: 10px;
    }

    .c-card-blog__pic img {
        width: 100%;
    }

    .c-card-blog__meta {
        margin-top: 5.5px;
    }

    .c-card-blog__cate span {
        height: 15px;
        box-sizing: content-box;
    }

    .c-card-blog__date {
        font-size: 10.5px;
    }

    .c-card-blog__title {
        font-size: 13.5px;
        line-height: 18px;
    }

    .c-card-blog__link {
        padding-bottom: 9.5px;
    }

    .p-top-blog__more-sm {
        display: block;
        width: 336px;
        height: 49px;
        margin-top: 45px;
    }

    .c-btn-angle__txt {
        font-size: 11px;
    }

    .p-top-blog__more-sm {
        text-align: right;
    }

    a.c-btn-angle {
        padding: 15px 19px;
        margin-left: auto;
        display: inline;
    }

    .story {
        margin: 0;
        padding-top: 96px;
    }

    .story-container {
        padding: 0 19px;
    }

    .story-contents {
        padding: 98px 0 408px;
        position: relative;
    }

    .story-background-top {
        font-size: 115px;
        top: -30px;
        left: -19px;

    }

    .story-title {
        width: 25px;
        top: -228px;
        left: 301px;
    }

    .story-description {
        width: 100%;
    }

    .story-description picture {
        margin: 0 0 19px -19px;
        width: 269px;
        height: 158px;
    }

    .story-description picture img {
        height: 100%;
    }

    .story-description-text {
        line-height: 32px;
        font-size: 13.4px;
        padding: 0;
    }

    .story-more {
        display: none;
    }

    .story-more-sm {
        margin-top: 9.6px;
    }

    .story-more-link {
        padding: 15px 19px;
        line-height: 23px;
        font-size: 15px;
    }

    .story-more-sm {
        display: block;
    }

    .story-more-icon {
        margin-right: 9.6px;
    }

    .story-more-icon svg {
        width: 13px;
        height: auto;
    }

    .picture-woman {
        width: 174px;
        right: 0;
        top: 597px;
    }

    .picture-man {
        width: 109px;
        height: 178px;
        top: 533px;
        left: -28px;
    }

    .story-more-sm span {
        font-size: 11.5px;
    }

    .story-more-sm {
        text-align: right;
    }

    .story-more-sm a {
        width: auto;
    }

    .story-background-bottom {
        font-size: 98px;
        bottom: 0;
        left: -20px;
    }

    .feature {
        padding: 76px 0 57px;
    }

    .feature-container {
        padding: 0 19px;
    }

    .feature__head h2 {
        font-size: 25px;
    }

    .feature__wrap {
        padding: 0;
    }

    .feature__count {
        display: none;
    }

    .c-btn-circle-right {
        margin-left: 15.3px;
    }

    .feature__ctrl::after {
        display: none;
    }

    .feature__ctrl {
        margin: 0;
        padding: 0;
    }

    .feature__slide {
        margin-top: 28px;
    }



    .feature-slide {
        width: 288px;
        margin-right: 10px;
    }

    .c-card-feature-case__link {
        padding: 28px 19px 9px;
    }

    .c-card-feature-case__meta {
        font-size: 10px;
        margin-top: 12.5px;
        gap: 8px;
    }

    .c-card-feature-case {
        height: 100%;
    }

    .c-card-feature-case__pic img {
        width: 186px;
    }

    .c-card-feature-case__meta dl {
        line-height: 15px;
    }

    .c-card-feature-case__meta dt {
        font-size: 10px;
    }

    .feature-slide__indicator {
        margin-top: 19px;
        width: 100%;
    }

    .service {
        padding: 57px 0;
    }

    .service-container {
        padding: 0 19px;
    }

    .service-head h2 {
        font-size: 30px;
    }

    .service-sentence {
        margin-top: 28px;
        font-size: 13.46px;
        line-height: 24px;
    }

    .service-contents {
        margin-top: 38px;
    }

    .service-contents-wrap-body {
        grid-template-columns: none;
        gap: 32px;
        margin-top: 28px;
    }

    .service-items-link-figure img {
        width: 100%;
        height: auto;
    }

    .service-items-title {
        margin-top: 7.5px;
        width: 100%;
    }

    .service-items-title p {
        font-size: 15px;
    }

    .service-items-title-btn {
        top: 0;
        right: 0;
    }

    .service-contents {
        width: 100%;
    }

    .achievements {
        position: relative;
        padding: 57px 0;
    }

    .achievements-container {
        padding: 0 19px;
    }

    .achievements-wrap {
        flex-direction: column-reverse;
    }

    .client-text {
        font-size: 13.4px;
    }

    .awards {
        margin-top: 57px;
        width: 100%;
    }

    .awards-li {
        font-size: 13.4px;
        letter-spacing: 0.6px;
    }

    .awards-athor {
        padding: 15px 19px;
    }

    .awards-athor-text {
        font-size: 11.5px;
    }

    .awards-athor-btn {
        margin-right: 9.6px;
    }

    .contact-link {
        height: 196px;
    }

    .action-bg {
        height: 100%;
        width: 100%;
        display: none;
    }

    .contact-container {
        padding: 0 19px;
    }

    .contact-wrap {
        display: block;
        padding: 48px 0;
    }

    .contact-title h2 {
        font-size: 30px;
        line-height: 30px;
    }

    .contact-body {
        padding-right: 67px;
    }

    .contact-body h3 {
        margin-top: 19px;
        font-size: 16px;
        line-height: 25px;
        opacity: 0.6;
    }

    .contact-body p {
        display: none;
    }

    .recruit-btn {
        top: 90px;
        right: 19px;
        width: 57px;
        height: 57px;
    }

    .recruit-btn-simbol {
        width: 100%;
        height: 100%;
    }

    .recruit-btn-simbol svg {
        width: 7.6px;
        height: auto;
    }

    .break {
        display: block;
    }

    .footer-pagetop {
        height: 82px;
    }

    .footer-pagetop a {
        width: 67px;
        height: 35px;
    }

    .footer-pagetop a svg {
        height: 13px;
    }

    .footer-content {
        padding: 96px 0 65px;
    }

    .footer-container {
        padding: 0 19px;
    }

    .footer-company {
        display: none;
    }

    .footer-nav {
        display: block;
        margin-top: 0;
    }

    .footer-nav__link {
        opacity: 1;
        font-weight: 700;
    }

    .footer-nav__link span,
    .footer-nav__list a {
        font-size: 14px;
    }

    .footer-nav__link i {
        margin-left: 11px;
    }

    .footer-nav__link svg {
        stroke: #fff;
        width: 9px;
        height: auto;
    }

    .footer-wrap {
        display: block;
    }

    .footer-nav__list {
        gap: 29px 0;
        justify-content: flex-start;
    }

    .footer-nav__list li {
        width: 50%;
        font-family: Helvetica, "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "メイリオ", "Meiryo", sans-serif;
    }

    .footer-nav__listLv2 li {
        width: 100%;
        font-weight: 100;
        margin-top: 9.6px;
    }

    .footer-nav__listLv2 a {
        font-size: 14.42px;
        opacity: 0.8;
    }

    .footer-report {
        margin-top: 47px;
        opacity: 0.8;
    }

    .footer-report a {
        padding-bottom: 22px;
    }

    .footer-request {
        opacity: 1;
    }

    .footer-bnr {
        margin-top: 38px;
        width: 100%;
        gap: 10px;
    }

    .footer-bnr li {
        width: 50%;
    }

    .footer-bnr li a {
        display: block;
        width: 100%;
    }

    .footer-bnr img {
        width: 100%;
        height: auto;
    }

    .footer-bottom__wrap {
        padding: 19px 0;
    }

    .footer-logo {
        width: 67px;
        height: 39px;
    }

    .footer-logo a {
        width: 100%;
        height: auto;
    }

    .footer-logo img {
        width: 100%;
    }

    .footer-link {
        margin-left: auto;
    }

    .footer-link ul {
        gap: 20px;
        font-size: 11.5px;
    }
}

/*------------------------------------------------タブレット834pxレスポンシブ--------------------------------------------------------*/
@media (device-width: 834px) {

    /*----header----*/
    #header {
        height: 83px;
    }

    .header-humberger-menu {
        width: 111px;
        height: 111px;
    }

    .header-wrapper-title img {
        width: 77.8px;
        height: 46px;
    }


}